/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    /* display: flex; */ /*this messes up first page*/ 
}

.container {
    display: flex;
    padding-top: 20px; /* Space for the fixed navbar */
}


/* Sidebar styling */
.sidebar {
    width: 250px;
    background-color: #333;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    border-right: 3px solid #D21818;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it's on top of other elements */
    overflow-y: auto; /* If the content overflows */
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 10px;
    padding: 0px;
}

.sidebar .logo-img {
    width: 120px;
    margin-bottom: 0px;
}

.sidebar-title {
    /*margin-bottom: 30px; */
    font-size: 20px;
    color: #fff;
    text-align: center;

}

.sidebar-title span {
    color: #D21818; /* Brand color */
    font-weight: 700;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin-top: 0px;
}

.sidebar nav ul li {
    margin-bottom: 20px;
    list-style: none;
    padding: 0px 0px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
    padding: 12px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.sidebar nav ul li a:hover, .nav-link.active {
    background-color: #D21818;
    color: #fff;
    transform: scale(1.05);
}


/* Navbar section styling */
.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand span {
    color: #D21818;
}

.navbar .navbar-buttons a {
    color: #D21818;
    font-size: 1rem;
}

.navbar .navbar-buttons a:hover {
    color: #fff;
    background-color: #D21818;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    /* .sidebar {
        width: 80px;
    } */

    /* .content {
        margin-left: 100px;
        padding: 20px;
    } */
}


 /* WhatsApp Button Styling */
 .whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25D366; /* WhatsApp Brand Color */
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.whatsapp-button:hover {
    transform: scale(1.1);
}

.whatsapp-button img {
    width: 40px;
    height: 40px;
}


.header12 {
    text-align: center;
    margin-top: 20px;
}

.header12 h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.header12 p {
    font-size: 1.2rem;
    text-align: justify;
}

/* whychooseus */
/* Container for the section */
.whychooseus-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
}

/* Title Styling */
.whychooseus {
    font-size: 2rem;
    font-weight: bold;
    color: #ff6b6b; /* Use the red color */
    text-align: center; /* Center align the text */
    margin: 10px; /* Center the element horizontally with auto margins */
    padding: 15px 20px; /* Add padding for better spacing */
    letter-spacing: 1px; /* Adjust letter spacing */
    text-transform: uppercase; /* Capitalize the text for emphasis */
    position: relative; /* Required for the pseudo-elements */
    display: block; /* Make it a block-level element to take full width */
    background: transparent; /* Transparent to see background image */
    border-radius: 12px; /* Slightly rounded corners */
    transition: all 0.3s ease; /* Smooth hover effect */
    width: fit-content; /* Ensure width adjusts based on content */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
  
    /* Create a subtle shadow effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 20px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    /* Add a gradient border */
    /* background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 107, 107, 0.15) 100%); */
    /* background-clip: padding-box; */
}


  
  .whychooseus:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(156, 156, 156, 0.1); /* Subtle background highlight */
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
    border-radius: 12px; /* Match border radius */
  }
  
  .whychooseus:hover {
    color: #5f5f5f; /* Invert text color on hover */
    border-color: #ff6b6b; /* Change border color */
    background: linear-gradient(90deg, rgba(255, 107, 107 0.6) 0%, rgba(255, 107, 107 0) 100%);
  }
  
  .whychooseus:hover:before {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  /* Container for the cards */
.badges-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust based on the number of cards and screen size */
    gap: 20px;
    margin: 20px;
    /* grid-gap: 20px;
    position: relative;
    width: 100%;
    max-width: 1200px;
    text-align: center; */
}

/* For tablet screens (1 or 2 cards per row) */
@media (max-width: 1024px) {
    .badges-container {
        grid-template-columns: repeat(2, 1fr); /* 2 cards in a row */
    }
}

/* For mobile screens (1 card per row) */
@media (max-width: 768px) {
    .badges-container {
        grid-template-columns: repeat(1, 1fr); /* 1 card in a row */
    }
}

.badges-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

/* Card Styling */
.card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* position: relative;
    flex: 1;
    min-width: 250px; */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* Icon Block Styling */
.icon-block {
    margin-bottom: 15px;
}

.icon-block .material-symbols-outlined {
    font-size: 80px;
    color: #E57373;
}

/* Card Title Styling */
.card h5 {
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
}

/* Card Text Styling */
.card p {
    color: #666;
    font-size: 1rem;
    line-height: 1.6;
}

/* headings */
/* Center the heading container in the page */
.centered-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Adjust to the desired height */
    text-align: center;
    padding: 0px; /* Optional: Add padding for responsiveness */
}


.centered-heading h1 {
    font-size: 4rem;
    font-weight: 900;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
    position: relative;
    display: inline-block;
    padding: 10px 0;
}

.centered-heading h1 span {
    color: #d21414;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    position: relative;
}


.centered-heading h1 .underline {
    position: relative;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #d21414, #d21414);
    content: '';
    display: block;
}

/* .media-container {
    width: 100%;
} */

.intro-content {
    text-align: center;
}

.intro-content .tagline {
    font-size: 20px;
    color: #d21414;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.2rem;
    position: relative;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 10px auto; /* Center it */
    max-width: 100%; /* Ensure it doesn’t overflow */
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .intro-content .tagline {
        font-size: 16px; /* Decrease font size for smaller screens */
        line-height: 1.5rem;
        padding: 10px 20px; /* Add more padding for mobile */
        margin: 15px auto; /* Adjust the margin */
    }
}


/* Intro text styling */
.intro-text {
    text-align: center;
    /* padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px; */
    width: 100%;
}

.intro-text p {
    font-size: 25px;
    color: #666;
    line-height: 1.6;
}


/* product_description */
.product-section {
    padding: 0px;
    margin-left: 0px; /* Adjust for sidebar */
}

.product-container {
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    gap: 0px;
    margin-top: 10px;
    padding: 0px;
}

.product-card {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 15px;
    margin-top: 15px;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.product-img img {
    width: 250px;
    height: 300px;
    margin-right: 20px;
    object-fit: cover;
}

/* width: 300px; height: 400px; object-fit: cover; */

.product-info {
    flex: 1;
}

.product-title {
    font-size: 2rem;
    color: #d21818;
    margin-bottom: 10px;
    text-align: center;
}

.product-description {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 10px;
}

.product-features {
    list-style: none;
    padding-left: 0;
    color: #333;
}

.product-features li {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .product-container {
        grid-template-columns: 1fr;
    }

    .product-card {
        flex-direction: column;
        align-items: center;
    }

    .product-img img {
        margin-bottom: 10px;
    }
}

/* Responsive Breakpoints */
@media (max-width: 768px) {
    .team-item {
        flex-basis: 45%; /* Two cards per row on smaller screens */
    }
}

@media (max-width: 576px) {
    .team-item {
        flex-basis: 100%; /* One card per row on small screens */
    }
}

/* about us */

/* Team Section Styles */
.team-section {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #f9f9f9; /* Light background to create contrast */
}

.media-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}

/* Team Item (Card) Styles */
.team-item {
    flex-basis: 30%; /* Allows three cards in a row */
    margin-bottom: 30px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-item:hover {
    transform: scale(1.05); /* Slight zoom on hover */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}

/* Card Content Styles */
.item-caption {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: #fff; /* Ensure cards are white to stand out */
    transition: box-shadow 0.3s ease;
}

/* Name Text */
.name-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Role Text */
.item-role p {
    font-size: 1rem;
    color: #777;
}


.custom-order-info {
    font-size: 1.5rem; /* Increased font size for better visibility */
    font-weight: 600; /* Bolder text for prominence */
    line-height: 1.6; /* Improved line height for readability */
    color: #333; /* Darker text color for better contrast */
    background-color: rgba(255, 255, 255, 0.15); /* Slightly more opaque white background */
    border-radius: 15px; /* Rounded corners for a modern look */
    border: 1px solid #bbb; /* Light border to add definition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Stronger shadow for depth */
    text-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow for depth */
    max-width: 100%; /* Full width utilization */
    margin: 0px auto; /* Centered horizontally */
    text-align: center; /* Centered text */
    display: block;
    padding: 5px; /* More whitespace */
    background-clip: padding-box; /* Background doesn’t overlap the border */
    padding-top: 0;
}

.n-mbr-section-btn {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.n-btn {
    font-size: 1.125rem;
    padding: 15px 30px;
    border-radius: 8px; /* More rounded corners */
    text-decoration: none;
    color: #fff;
    display: inline-block; /* Better alignment and spacing */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Deeper shadow for more depth */
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
    text-align: center;

}


.n-btn:hover {
    color: #fff;
}

/* Button for 'Place Order Now' */
.n-place-order-btn {
    background: linear-gradient(45deg, #d21414, #ff6b6b); /* Gradient background */
}

.n-place-order-btn:hover {
    background: linear-gradient(45deg, #ff6b6b, #d21414);
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

/* Button for 'Check Today's Prices' */
.n-check-prices-btn {
    background: linear-gradient(45deg, #333, #555); /* Gradient background */
}

.n-check-prices-btn:hover {
    background: linear-gradient(45deg, #555, #333);
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}





.order-btn {
    background-color: #d61818;
    border: none;
    color: #fff;
    font-size: 1.25rem;
    padding: 12px 28px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.order-btn:hover {
    background-color: #b71515;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.order-note {
    font-size: 0.85rem;
    color: #555;
    margin-top: 10px;
}

.text-center {
    text-align: center;
}

button, img {
    outline: none; /* Removes default outline when clicked */
  }

button:focus, img:focus {
outline: none; /* Ensures there's no outline when the element is focused */
}

/* sidebar mobielview */

@media screen and (max-width: 768px) {
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%; /* Full width on mobile */
      height: 60px; /* Adjust height as per design */
      background-color: #fff; /* Background color of the ribbon */
      display: flex;
      justify-content: space-around; /* Distribute items evenly */
      align-items: center;
      z-index: 9999; /* Ensure it's on top of content */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
    }
  
    /* Adjust logo size */
    .sidebar .logo-img {
      padding-top: 20px;
      height: 80px;
      width: auto; /* Keep aspect ratio */
    }
  
    .sidebar-title {
      display: none; /* Hide the title for mobile view */
    }
  
    /* Adjust the navigation */
    .sidebar nav ul {
      display: flex;
      justify-content: space-around;
      padding: 0;
      margin: 0;
      width: 100%;
    }
  
    .sidebar nav ul li {
      list-style: none;
      display: block;
    }
  
    .sidebar nav ul li a {
      padding: 15px;
      font-weight: 700;
      font-size: 16px; /* Adjust font size */
      text-align: center;
      display: block;
      color: #f70000
    }

    .sidebar nav ul li a:hover, .nav-link.active {
        background-color: #D21818;
        color: #fff;
        transform: scale(1.05);
    }

    .intro-content .tagline {
        font-size: 16px; /* Adjust font size for smaller screens */
        letter-spacing: 0.5px; /* Reduce letter spacing */
        line-height: 1.4; /* Ensure readability */
    }
  }
  
  
/* Desktop View - Default Styles */
.main-content {
    margin-left: 250px; /* Leaves space for the sidebar */
    /* padding: 20px; */
    width: calc(100% - 250px); /* Main content takes up the remaining space */
    transition: margin-left 0.3s ease, width 0.3s ease; /* Smooth transition */
  }
  
  /* Media Query for Mobile View */
  @media screen and (max-width: 768px) {
    .main-content {
      margin-left: 0; /* No left margin since sidebar is now at the top */
      width: 100%; /* Main content takes full width */
      padding-top: 80px; /* Add padding to account for the height of the sidebar ribbon */
    }
  }
  